<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Student - My Campus</title>
</head>


<body style="font-family: Arial;display: flex; background :#aeffff;justify-content: center;align-items: center;">
    <div style="text-align:center; width:400px;">

    
    <h1 style="color: #1a202c; margin: 0 0 8px 0 ; font-size: 32px; font-weight: 800; text-align: center;">Add Student</h1>
    <p style="color: #4a5568; margin: 0 0 35px 0; font-size:14px; text-align: center;" >Enter student details below</p>
   
    {% if messages %}
        {% for m in messages %}
            <h3>{{ m }}</h3>
        {% endfor %}
    {% endif %}

    
    <form method="post">
        {% csrf_token %}

    <div style="margin-bottom: 18px;">
        <label > Name:</label> 
        <input type="text" name="name" placeholder="Enter Your Name" required>
    </div>

    
    <div style="margin-bottom: 18px;">
        <label> Phone no:</label> 
        <input type="text" name="phone_no" placeholder="Enter Your Phone no." required>
    </div>


    <div style="margin-bottom: 18px;">
        <label> Subject:</label> 
        <input type="text" name="subject" placeholder="Enter Your Subject" required>
    </div>


    <div style="margin-bottom: 18px;">
        <label>Email:</label> 
        <input type="email" name="email" placeholder="Enter Your Email" required>
    </div>
    
    
    <button type="submit" style="width:150px; background:#ffb6c1; padding: 8px;cursor: pointer;"> Add Student</button><br><br>
     </form>

    <div style="text-align: center;margin-top: 20px;">
        <a href="{% url 'home' %}" style="color: #2d3748; text-decoration: none;font-size: 14px;font-weight: 600;"> Back to Home </a>
    </div>
     
    
    </div>

</body>
</html>