<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MY Campus</title>
</head>
<body style="text-align: center;font-family: Arial;background-color: burlywood;">
    
    
    <h1 style="text-align: center; color: #2d3748;margin-bottom: 40px; font-size: 36px;"> MY CAMPUS </h1>

    
    <a href="{% url 'add' %}"> <button type="submit" style="width: 160px;padding: 14px;margin: 10px 0;cursor: pointer; background-color: cornsilk;">Add</button></a><br><br>
    
    <a href="{% url 'search' %}"> <button type="submit" style="width: 160px;padding: 14px;margin: 10px 0;cursor: pointer;background-color: cornsilk; ">Search</button></a><br><br>
    
    <a href="{% url 'update' %}"> <button type="submit" style="width: 160px;padding: 14px;margin: 10px 0;cursor: pointer;background-color: cornsilk; ">Update</button></a><br><br>
    
    <a href="{% url 'delete' %}"> <button type="submit" style="width: 160px;padding: 14px;margin: 10px 0;cursor: pointer; background-color: cornsilk;">Delete</button></a><br><br>

    

    
    
   
    <a href="/logout/">Logout</a>

    <p>Logged in as {{ request.user.username }}</p> 
    
</body>
</html>