<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="text-align:center;font-family: Arial;display: flex; background :#aeffff;justify-content: center;align-items: center;">
    <div style="text-align:center; width:400px;">

    <h1 style="color: #1a202c; margin: 0 0 8px 0 ; font-size: 32px; font-weight: 800; text-align: center;">Update Student</h1>
    
    {% if messages %}
        {% for m in messages %}
            <h4>{{ m }}</h4>
        {% endfor %}
    {% endif %}

    <form method="post">
        {% csrf_token %}


    <div style="margin-bottom: 18px;">
        <label style="display: block; color: #2d3748; font-size: 14px; font-weight: 600;margin-bottom: 6px;">Student ID</label>
        <input type="number" name="id" placeholder="Enter Your ID" required>
    </div>

    <div style="margin-bottom: 18px;">
        <label style="display: block; color: #2d3748; font-size: 14px; font-weight: 600;margin-bottom: 6px;">Name</label>
        <input type="text" name="name" placeholder="Enter Your Name" required>
    </div>

    <div style="margin-bottom: 18px;">
        <label style="display: block; color: #2d3748; font-size: 14px; font-weight: 600;margin-bottom: 6px;">Phone_No</label>
        <input type="number" name="phone_no" placeholder="Enter Phone_no" required>
    </div>

    <div style="margin-bottom: 18px;">
        <label style="display: block; color: #2d3748; font-size: 14px; font-weight: 600;margin-bottom: 6px;">Subject</label>
        <input type="text" name="subject" placeholder="Enter Your Subject" required>
    </div>

   

    <div style="margin-bottom: 18px;">
        <label style="display: block; color: #2d3748; font-size: 14px; font-weight: 600;margin-bottom: 6px;">Email</label>
        <input type="email" name="email" placeholder="Enter Your Email" required>
    </div>
     
     <button type="submit" style="width:150px; background:#ffb6c1; padding: 8px;cursor: pointer;"> Update Student</button><br><br>
     

    </form>
    <div style="text-align: center;margin-top: 20px;">
        <a href="{% url 'search' %}" style="color: #2d3748; text-decoration: none;font-size: 14px;font-weight: 600;"> Back to Search </a>
    </div>

    <div style="text-align: center;margin-top: 20px;">
        <a href="{% url 'home' %}" style="color: #2d3748; text-decoration: none;font-size: 14px;font-weight: 600;"> Back to Home </a>
    </div>

    

</body>
</html>